@page "/ui/Angler/{Guid?}"
@model NulllogiconeCore.Pages.Ui.Angler.IndexModel
@{
    ViewData["Title"] = "Angler Details";
    ViewData["EntityType"] = "angler";
    ViewData["Guid"] = Model.Entity?.AnglerGuid;

}


@if (Model.Entity != null)
{

    <partial name="_EntityLinks" />
    <h1>Angler</h1>



    <dl class="row">
        <dt class="col-sm-3">Stamm</dt>
        <dd class="col-sm-9">
            <a href="/ui/Stamm/@Model.Entity.StammGuid">@Model.Entity.Stamm?.Stamm1</a>
        </dd>

        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9 fw-bold">@Model.Entity.Angler1</dd>

        <dt class="col-sm-3">AnglerGuid</dt>
        <dd class="col-sm-9">@Model.Entity.AnglerGuid</dd>

        <dt class="col-sm-3">Date</dt>
        <dd class="col-sm-9">@Model.Entity.Datum.ToString("g")</dd>

        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9">@Model.Entity.Beschreibung</dd>


    </dl>




}
else
{
    <div class="alert alert-warning">
        @if (Model.Guid.HasValue)
        {
            <p>Angler with ID @Model.Guid not found.</p>
        }
        else
        {
            <p>No Angler ID provided.</p>
        }
    </div>
}

