@page "{guid?}"
@model IndexModel
@{
    ViewData["Title"] = "Stamm";
    ViewData["EntityType"] = "stamm";
    ViewData["Guid"] = Model.Entity?.StammGuid;
}

@if (Model.Entity == null)
{
    <h1>Unknown Stamm</h1>
    <p>
        Please provide a StammGuid
    </p>
}
else
{
    <partial name="_EntityLinks" />
    <img src="@OliUtils.MakeImageSrc(Model.Entity.Datei ?? "")" alt="Stamm Image"
         style="float: right; margin-left: 10px;" />

    <h1 class="Stamm">Stamm</h1>

    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9 fw-bold">@Model.Entity.Stamm1</dd>

        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9">@Model.Entity.Beschreibung</dd>
    </dl>


    <h2 class="Angler">Angler</h2>
    @if (Model.Entity?.Anglers != null && Model.Entity.Anglers.Any())
    {
        <ul>
            @foreach (var angler in Model.Entity.Anglers)
            {
                <li><a href="/ui/Angler/@angler.AnglerGuid">@angler.Angler1</a></li>
            }
        </ul>
    }
    else
    {
        <p>No anglers found for this Stamm.</p>
    }

    <h2 class="TopLab">TopLab</h2>
    @if (Model.Entity?.TopLabs != null && Model.Entity.TopLabs.Any())
    {
        <ul>
            @foreach (var topLab in Model.Entity.TopLabs)
            {
                <li><a href="/ui/TopLab/@topLab.TopLabGuid">@topLab.Titel</a></li>
            }
        </ul>
    }
    else
    {
        <p>No TopLab found for this Stamm.</p>
    }
}