@page "{guid?}"
@model IndexModel
@{
    ViewData["Title"] = "Stamm";
}

@if (Model.Entity == null)
{
    <h1>Stamm</h1>
    <p>
        Please provide a StammUri like:
        <a href="/ui/Stamm/b4111e0e-48d9-42c4-a6f6-ec4991264947">https://nulllogicone.net/ui/Stamm/b4111e0e-48d9-42c4-a6f6-ec4991264947</a>
    </p>
}
else
{
    <h1>Stamm [@Model.Entity.Stamm1]</h1>
    <div>
        <a href="/Stamm/@Model.Entity.StammGuid">/Stamm/@Model.Entity.StammGuid (html, or add Accept header) </a><br />
        <a href="/stamm/@(Model.Entity.StammGuid).rdf">/stamm/@(Model.Entity.StammGuid).rdf</a><br />
        <a href="/stamm/@(Model.Entity.StammGuid).json">/stamm/@(Model.Entity.StammGuid).json</a>
    </div>
    <div>
        StammGuid: <strong>@Model.Entity.StammGuid</strong><br />
        Name: @Model.Entity.Stamm1<br />
        Description: @Model.Entity.Beschreibung<br />
        <img src="@OliUtils.MakeImageSrc(Model.Entity.Datei)" alt="Stamm Image" />
    </div>

}

<h2>Json response from HttpClient</h2>
<pre>
@Model.JsonResponse 
</pre>

